name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ '**' ]

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:11.5
        ports: ["5432:5432"]
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
        env:
          POSTGRES_DB: sequel_activerecord_connection
          POSTGRES_USER: sequel_activerecord_connection
          POSTGRES_PASSWORD: sequel_activerecord_connection

      mysql:
        image: mysql:latest
        ports: ["3306:3306"]
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
        env:
          MYSQL_ROOT_PASSWORD: sequel_activerecord_connection
          MYSQL_DATABASE: sequel_activerecord_connection

    strategy:
      fail-fast: false
      matrix:
        ruby: ["ruby-2.4", "ruby-2.5", "ruby-2.6", "ruby-2.7", "ruby-3.0", "ruby-3.1", "ruby-3.2", "jruby-9.4"]
        gemfile: ["activerecord-4.2", "activerecord-5.0", "activerecord-5.1", "activerecord-5.2", "activerecord-6.0", "activerecord-6.1", "activerecord-7.0", "activerecord-7.1", "activerecord-main"]
        exclude:
          - ruby: "ruby-3.2"
            gemfile: "activerecord-5.2"
          - ruby: "ruby-3.2"
            gemfile: "activerecord-5.1"
          - ruby: "ruby-3.2"
            gemfile: "activerecord-5.0"
          - ruby: "ruby-3.2"
            gemfile: "activerecord-4.2"
          - ruby: "ruby-3.1"
            gemfile: "activerecord-5.2"
          - ruby: "ruby-3.1"
            gemfile: "activerecord-5.1"
          - ruby: "ruby-3.1"
            gemfile: "activerecord-5.0"
          - ruby: "ruby-3.1"
            gemfile: "activerecord-4.2"
          - ruby: "ruby-3.0"
            gemfile: "activerecord-5.2"
          - ruby: "ruby-3.0"
            gemfile: "activerecord-5.1"
          - ruby: "ruby-3.0"
            gemfile: "activerecord-5.0"
          - ruby: "ruby-3.0"
            gemfile: "activerecord-4.2"
          - ruby: "ruby-2.7"
            gemfile: "activerecord-4.2"
          - ruby: "ruby-2.6"
            gemfile: "activerecord-main"
          - ruby: "ruby-2.6"
            gemfile: "activerecord-7.1"
          - ruby: "ruby-2.6"
            gemfile: "activerecord-7.0"
          - ruby: "ruby-2.5"
            gemfile: "activerecord-main"
          - ruby: "ruby-2.5"
            gemfile: "activerecord-7.1"
          - ruby: "ruby-2.5"
            gemfile: "activerecord-7.0"
          - ruby: "ruby-2.4"
            gemfile: "activerecord-main"
          - ruby: "ruby-2.4"
            gemfile: "activerecord-7.1"
          - ruby: "ruby-2.4"
            gemfile: "activerecord-7.0"
          - ruby: "ruby-2.4"
            gemfile: "activerecord-6.1"
          - ruby: "ruby-2.4"
            gemfile: "activerecord-6.0"
          - ruby: "jruby-9.4"
            gemfile: "activerecord-main"
          - ruby: "jruby-9.4"
            gemfile: "activerecord-7.1"
          - ruby: "jruby-9.4"
            gemfile: "activerecord-5.2"
          - ruby: "jruby-9.4"
            gemfile: "activerecord-5.1"
          - ruby: "jruby-9.4"
            gemfile: "activerecord-5.0"
          - ruby: "jruby-9.4"
            gemfile: "activerecord-4.2"

    env:
      BUNDLE_GEMFILE: gemfiles/Gemfile.${{ matrix.gemfile }}

    steps:
      - uses: actions/checkout@v3

      - name: "Install database packages"
        run: sudo apt-get -yqq install libpq-dev libmysqlclient-dev

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run tests
        run: bundle exec rake test
