name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ '**' ]

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:11.5
        ports: ["5432:5432"]
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
        env:
          POSTGRES_DB: sequel_activerecord_connection
          POSTGRES_USER: sequel_activerecord_connection
          POSTGRES_PASSWORD: sequel_activerecord_connection

      mysql:
        image: mysql:5.7
        ports: ["3306:3306"]
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
        env:
          MYSQL_ROOT_PASSWORD: sequel_activerecord_connection
          MYSQL_DATABASE: sequel_activerecord_connection

    strategy:
      fail-fast: false
      matrix:
        ruby: ["ruby-3.0", "ruby-3.1", "ruby-3.2", "ruby-3.3", "ruby-3.4", "ruby-4.0", "jruby-9.4"]
        activerecord: ["5.2", "6.0", "6.1", "7.0", "7.1", "7.2", "8.0", "8.1"]
        exclude:
          - ruby: "ruby-4.0"
            activerecord: "5.2"
          - ruby: "ruby-3.4"
            activerecord: "5.2"
          - ruby: "ruby-3.3"
            activerecord: "5.2"
          - ruby: "ruby-3.2"
            activerecord: "5.2"
          - ruby: "ruby-3.1"
            activerecord: "8.1"
          - ruby: "ruby-3.1"
            activerecord: "8.0"
          - ruby: "ruby-3.1"
            activerecord: "5.2"
          - ruby: "ruby-3.0"
            activerecord: "8.1"
          - ruby: "ruby-3.0"
            activerecord: "8.0"
          - ruby: "ruby-3.0"
            activerecord: "7.2"
          - ruby: "ruby-3.0"
            activerecord: "5.2"
          - ruby: "jruby-9.4"
            activerecord: "8.1"
          - ruby: "jruby-9.4"
            activerecord: "8.0"
          - ruby: "jruby-9.4"
            activerecord: "7.2"
          - ruby: "jruby-9.4"
            activerecord: "7.1"
          - ruby: "jruby-9.4"
            activerecord: "6.0"
          - ruby: "jruby-9.4"
            activerecord: "5.2"

    env:
      BUNDLE_GEMFILE: .ci.gemfile
      ACTIVERECORD_VERSION: ${{ matrix.activerecord }}

    steps:
      - uses: actions/checkout@v3

      - name: "Install database packages"
        run: sudo apt-get -yqq install libpq-dev libmysqlclient-dev

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run tests
        run: bundle exec rake test
